@keyframes appear {
  to {
    opacity: 1;
  }
}
@keyframes appearIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes disappearOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes scaleSmall {
  0%,
  to {
    transform: scale(1);
  }
  25% {
    transform: scale(0.75);
  }
  75% {
    transform: scale(1.2);
  }
}
@keyframes animateFullWidth {
  to {
    width: 100%;
  }
}
@keyframes animateWidthUpAndDown {
  50% {
    width: 30%;
  }
  to {
    width: 100%;
  }
}
@keyframes translate100to0 {
  0% {
    transfrom: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes translate0to100 {
  0% {
    transform: translateY(0);
  }
  30%,
  70% {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes flyIn {
  0% {
    transform: translate3d(0, -100vh, -500px);
  }
  to {
    transform: translateY(0, 0, 0);
  }
}
@keyframes flyInHeader {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, -100%, 0);
    opacity: 0.1;
  }
  to {
    transform: translateY(0, 0, 0);
    opacity: 1;
  }
}
a {
  color: #005ca9;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #002a4d;
  text-decoration: underline;
}
a:focus {
  outline: 0;
}
.card-label {
  border-radius: 14px;
  background-image: linear-gradient(to bottom, #fff, #f2f2f0);
  border: solid 1px #e6ebf0;
  padding: 3px 6px;
  font-family: acumin-pro, sans-serif;
  font-size: 12px;
  line-height: 1.25;
  color: #002a4d;
}
@media (min-width: 768px) {
  .card-label {
    font-size: 14px;
    padding: 5px 10px;
  }
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon:not(.icon--xsmall):not(.icon--freeform):not(.icon--small):not(.icon--medium):not(.icon--large):not(.quickedit-button):not(.quickedit-toolbar) {
  height: 20px;
  width: 20px;
}
.icon--fill {
  fill: currentColor;
}
.button {
  border: unset;
  font: inherit;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: eurostile, sans-serif, Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 40px;
  height: auto;
  padding: 10px;
  transition: 0.25s all ease-out;
  overflow: hidden;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .button {
    min-height: 50px;
    font-size: 18px;
  }
}
.button * {
  pointer-events: none;
}
.button > span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.button > span svg {
  min-width: 18px;
}
.button:focus,
.button:hover {
  text-decoration: none;
}
.button:focus {
  outline: 0;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: none;
}
.button:not(:disabled):not(.button--disabled) {
  cursor: pointer;
}
.link--chevron {
  font-size: 20px;
  font-weight: 400;
  font-family: acumin-pro, sans-serif;
  color: #002a4d;
  padding: 0;
  min-height: auto;
  line-height: 1.26;
  -ms-flex-direction: row;
  flex-direction: row;
}
.link--chevron span .icon {
  margin-right: 5px;
}
.link--chevron .postfix-icon {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 22px;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.link--chevron .postfix-icon .icon {
  fill: #005ca9;
  margin-left: 2.5px;
  margin-bottom: 3px;
  margin-right: 0;
  height: 14px;
  width: 14px;
  transition: all 0.15s ease-out;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.link--chevron:hover .postfix-icon .icon {
  fill: #e21836;
  margin-left: 7.5px;
}
.link--chevron.link--chevron-xs {
  font-size: 16px;
}
.link--chevron.link--chevron-xs span .icon {
  display: inline;
  margin-right: 3px;
}
.link--chevron.link--chevron-xs .postfix-icon .icon {
  height: 1.2px;
  width: 1.2px;
  margin-left: 0.1px;
  margin-bottom: 0.2px;
}
.link--chevron.link--chevron-xs:hover .postfix-icon .icon {
  margin-left: 5px;
}
.link--chevron.link--chevron-xl {
  font-size: 24px;
  font-family: eurostile-condensed, sans-serif;
}
.link--chevron.link--chevron-xl span .icon {
  height: 16px;
  width: 16px;
}
.link--chevron.link--chevron-xl .postfix-icon {
  width: 26px;
}
.link--chevron.link--chevron-xl .postfix-icon .icon {
  height: 14px;
  width: 14px;
  margin-bottom: 3px;
  margin-left: 4px;
}
.link--chevron.link--chevron-xl:hover .postfix-icon .icon {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .link--chevron.link--chevron-xl {
    font-size: 38px;
  }
  .link--chevron.link--chevron-xl span .icon {
    height: 24px;
    width: 24px;
  }
  .link--chevron.link--chevron-xl .postfix-icon {
    width: 40px;
  }
  .link--chevron.link--chevron-xl .postfix-icon .icon {
    height: 18px;
    width: 18px;
    margin-bottom: 3px;
    margin-left: 10px;
  }
  .link--chevron.link--chevron-xl:hover .postfix-icon .icon {
    margin-left: 2.2px;
  }
}
.image {
  display: block;
  position: relative;
}
.image img {
  display: block;
  height: auto;
  width: 100%;
}
.card--color .card__content:hover div.link--chevron .icon,
.card--product .card__content:hover div.link--chevron .icon,
.card--product-category .card__content:hover div.link--chevron .icon {
  fill: #e21836;
}
.content-image {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 479.98px) {
  .content-image {
    width: 100%;
  }
}
.content-images .content-image:first-child {
  margin-left: 0;
}
.content-images .content-image:last-child {
  margin-right: 0;
}
.content-images {
  display: -ms-flexbox;
  display: flex;
}
.card {
  display: block;
}
.card__content {
  background-color: #fff;
}
.card--color,
.card--product,
.card--product-category {
  width: 100%;
  z-index: 2;
  background: 0 0;
  box-shadow: none;
  border: none;
  margin-top: 100px;
}
.card--color:hover,
.card--product-category:hover,
.card--product:hover {
  text-decoration: none;
}
.card--color .card__content,
.card--product .card__content,
.card--product-category .card__content {
  width: 100%;
  height: 100%;
}
.card--product .card__content .card__image {
  height: 100px;
  z-index: 2;
}
.card--color .card__content .card__image,
.card--product .card__content .card__image,
.card--product-category .card__content .card__image {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s transform ease-out;
  transform-origin: center center;
  background: 0 0;
  position: absolute;
  transform: translateY(-50%) scale(1);
  left: 0;
  right: 0;
}
.card--color .card__content .card__image {
  z-index: 2;
}
.card--color .card__content .card__image {
  height: 100px;
}
.card--product .card__content .card__image img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .card--color .card__content .card__image,
  .card--product .card__content .card__image,
  .card--product-category .card__content .card__image {
    width: auto;
    margin-bottom: -70px;
    height: 125px;
  }
  .card--color .card__content .card__image img,
  .card--product .card__content .card__image img,
  .card--product-category .card__content .card__image img {
    height: 100%;
    width: auto;
  }
}
.card--product .card__content .card__content__body,
.card--product-category .card__content .card__content__body {
  padding: 45px 30px 35px;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.02), 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  height: inherit;
  text-align: center;
  transition: 0.2s padding ease-in-out;
}
.card--color .card__content .card__content__body {
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.02), 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  height: inherit;
  text-align: center;
  transition: 0.2s padding ease-in-out;
}
@media (min-width: 992px) {
  .card--color .card__content .card__content__body,
  .card--product .card__content .card__content__body,
  .card--product-category .card__content .card__content__body {
    padding-top: 60px;
  }
}
.card--product .card__content .card__content__body .card__title {
  margin-top: 20px;
  text-align: center;
}
.card--color .card__content .card__content__body .card__title {
  margin-top: 20px;
}
@media (min-width: 480px) {
  .card--color .card__content .card__content__body .card__title,
  .card--product .card__content .card__content__body .card__title,
  .card--product-category .card__content .card__content__body .card__title {
    margin-top: 24px;
  }
}
.card--product .card__content .card__content__body .card__text {
  padding-top: 1.2px;
}
.card--product .card__content .card__content__body .card__text,
.card--product-category .card__content .card__content__body .card__text {
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  word-break: break-word;
  color: #6d7881;
}
.card--color .card__content .card__content__body .card__text {
  line-height: 1.5;
  font-size: 16px;
  word-break: break-word;
  color: #6d7881;
  padding-top: 1.2px;
}
@media (min-width: 480px) {
  .card--color .card__content .card__content__body .card__text,
  .card--product .card__content .card__content__body .card__text,
  .card--product-category .card__content .card__content__body .card__text {
    padding-top: 16px;
  }
}
@media (min-width: 768px) {
  .card--color .card__content .card__content__body .card__text,
  .card--product .card__content .card__content__body .card__text,
  .card--product-category .card__content .card__content__body .card__text {
    font-size: 18px;
  }
}
.card--product .card__content:hover .card__image {
  transform: scale(1.1) translateY(-50%);
}
@media (min-width: 768px) {
  .card--color .card__content:hover div.link--chevron .icon,
  .card--product .card__content:hover div.link--chevron .icon,
  .card--product-category .card__content:hover div.link--chevron .icon {
    margin-left: 20px;
  }
}
.card--product-category .card__content {
  position: relative;
}
.card--product-category .card__content:hover .card__image {
  transform: scale(1.1) translateY(-35%);
}
.card--product-category .card__content .card__image {
  height: 125px;
  transform: translateY(-35%);
  z-index: 2;
}
@media (min-width: 768px) {
  .card--product-category .card__content .card__image {
    width: auto;
    height: 200px;
  }
  .card--product-category .card__content .card__image img {
    height: 100%;
    width: auto;
  }
}
.card--product-category .card__content .card__image img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
.card--product-category .card__content .card__content__label {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media (min-width: 768px) {
  .card--product-category .card__content .card__content__label {
    top: 20px;
    left: 20px;
  }
}
.card--product-category .card__content .card__content__body {
  padding-top: 80px;
}
@media (min-width: 768px) {
  .card--product-category .card__content .card__content__body {
    padding-top: 130px;
  }
}
.card--product-category .card__content .card__content__body .card__title {
  margin-top: 25px;
  text-align: center;
}
.card--product-category .card__content .card__content__body .card__text {
  padding: 0;
  padding-top: 1.2px;
  padding-bottom: 1.2px;
}
@media (min-width: 480px) {
  .card--product-category .card__content .card__content__body .card__text {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .card--product-category {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .card--color {
    margin-top: 0;
  }
}
.card--color .card__content {
  position: relative;
}
@media (min-width: 992px) {
  .card--color .card__content {
    width: calc(100% - 100px);
    margin-left: 100px;
  }
}
.card--color .card__content .card__image {
  height: 130px;
  transform: translateY(-50%);
}
.card--color .card__content .card__image img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .card--color .card__content .card__image {
    height: 160px;
  }
}
@media (min-width: 992px) {
  .card--color .card__content .card__image {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -100%;
  }
  .card--color .card__content .card__image img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
}
.card--color .card__content .card__content__body {
  padding: 45px 20px 35px;
}
.card--color .card__content .card__content__body .card__title {
  text-align: left;
}
@media (min-width: 992px) {
  .card--color .card__content .card__content__body .card__title {
    margin-left: 100px;
    margin-top: 0;
  }
}
.card--color .card__content .card__content__body .card__text {
  text-align: left;
}
@media (min-width: 992px) {
  .card--color .card__content .card__content__body .card__text {
    margin-left: 100px;
  }
}
.card--color .card__content:hover .card__image {
  transform: translateY(-50%) scale(1);
}
@media (min-width: 992px) {
  .card--color .card__content:hover .card__image {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.card--image {
  background-size: cover;
  background-position: center -100px;
  padding: 50% 0 0;
  overflow: hidden;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .card--image {
    background-size: cover;
    padding: 10px;
    background-position: center center;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
::-ms-clear {
  display: none;
}
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: eurostile;
  src: url(https://use.typekit.net/af/e90c07/000000000000000000017994/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/e90c07/000000000000000000017994/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/e90c07/000000000000000000017994/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: eurostile;
  src: url(https://use.typekit.net/af/b30e05/000000000000000000017997/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/b30e05/000000000000000000017997/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/b30e05/000000000000000000017997/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: eurostile-condensed;
  src: url(https://use.typekit.net/af/c3a867/00000000000000003b9b0e49/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/c3a867/00000000000000003b9b0e49/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/c3a867/00000000000000003b9b0e49/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: acumin-pro;
  src: url(https://use.typekit.net/af/aa5b59/00000000000000003b9acaf7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/aa5b59/00000000000000003b9acaf7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/aa5b59/00000000000000003b9acaf7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
      format("opentype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: acumin-pro;
  src: url(https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: acumin-pro;
  src: url(https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3)
      format("woff"),
    url(https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3)
      format("opentype");
  font-style: normal;
  font-weight: 600;
}
.card--product .card__content .card__content__body .card__text p {
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  word-break: break-word;
  color: #6d7881;
}
@media (min-width: 768px) {
  .card--product .card__content .card__content__body .card__text p {
    font-size: 18px;
  }
}
